/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

video {
  transform: rotateY(180deg);
  opacity: 0.5;
}

.canvas-container {
  display: grid;
  background-color: white;
}

.canvas-container canvas {
  z-index: 1;
}

.canvas-container > * {
  grid-area: 1 / 1;
  width: 100%;
}

*:focus:not(:focus-visible) {
  outline: none;
}
